.kontaktmuligheder h2{
    color: #3DCD58;
    text-align: center;
    margin: 30px;
}

.kontaktmuligheder a {
    padding: 10px 30px 10px 30px;   
    background-color: #41B4E6;
    font-family: "roboto";
    font-weight: 600;
    color: white;
    border-radius: 5px;        
}

.kontaktmuligheder {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-items: center;
    margin: auto;
}

#kontaktmuligheder-knap a {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: relativ;
    transition: 0.3s ease;
}

#kontaktmuligheder-knap:hover a {
    box-shadow: 5px 10px 15px #888888;
  }


@media (min-width: 786px) {
    .kontaktmuligheder {
        max-width: 80%;
        display:flex;
        flex-direction: row;
        align-items: stretch;
        gap:20px;
    }

    .kontaktmuligheder > div {
        flex: 1;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        justify-content: space-around;
    }
}

