




#banner-top-community {
    background-image: url(img/snak-mellem-tre-mennesker.webp);
    height: 225px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


/* Her starter kodning af indhold til community siden */

#event-card-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.event-card {
    max-width: 300px;   
    display: flex;
    flex-direction: column;
    
}

.beskrivende-tekst-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}





/* Her slutter kodning af indhold til community siden */