/* Generel css elementer start */
p{
    font-family: "roboto";
    font-weight: 300;
    color: #626469;
}

/* footer start */
footer{
    position: relative;
    margin-top: 100px;
}

.hvid-blok {
    position: absolute;
    clip-path: ellipse(60% 60% at 50% 2%);
    top: 0;
}

.footer-oversigt{
    background-color: #E7E6E6;   
}

.footer-oversigt h3{
    font-size: 15px;
    font-weight: 500;
    font-family: "roboto";
    color: #41923E;
}

.footer-oversigt {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer-container {
    padding: 20px;
    margin-left: 8px;
}

.tilmeld-footer-knap {
    background-color: #42B4E6; 
    color: white; 
    border: none; 
    padding: 8px 30px; 
    text-align: center; 
    font-size: 16px; 
    font-family: "roboto";
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 6px; 
    transition: 0.3s ease;
}

.tilmeld-footer-knap:hover {
    box-shadow: 5px 10px 15px #888888;
}

.a-s-footer{
    font-weight: 500;
}

.tel-footer{
    text-decoration: underline;
    cursor: pointer;
}

.footer-telefon{
    display: none;
    background-color: #E7E6E6;
}

.footer-police{
    background-color: #3DCD58;
    padding: 10px 0px 10px 20px;
}

.underline-footer{
    text-decoration: underline;
}

.footer-police p {
    color: white;
}

.footer-police-kasse{
    padding: 3px;
}
/* footer slut */


/* MEDIA QUERIES START */
/* Media queries footer start */
@media only screen and (min-width: 768px) {

    .hvid-blok {
        clip-path: ellipse(50% 20% at 50% 2%);
    }
    .footer-oversigt {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20%;
        padding-right: 20%;
    }

    .footer-container{
        margin-left: 0px;
    }

    #footer-telefon-mobil{
        display: none;
    }

    .footer-telefon{
        display: flex;
        flex-direction: column;
        padding-left: 21.5%;
        padding-bottom: 10px;
    }

    .footer-police{
        display: flex;
        flex-direction: row;
        padding-left: 21.5%;
        padding-right: 21.5%;
        justify-content: space-between;
    }
}
/* Media queries footer Slut */