/* generel css elementer start */
h1 {
    
}

h2 {
    font-size: 30px;
    font-family: "roboto";
    font-weight: 500;
    
}

h3 {
    font-size: 30px;
    font-weight: 500;
    font-family: "roboto";
}

p {
    font-family: "roboto";
    font-weight: 300;
    color: #626469;
}

a {
    cursor: pointer;
}
/* generel css elementer slut*/

/* her starter header */
header {
    display: flex;
    flex-direction: column;
}

.schneider-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#lk-logo-header {
    max-width: 165px;
    display: flex;
    align-items: center;
    margin-left: 5px;   
}

#schneider-logo-header img {
    max-height: 50px;   
}


.tabs {
    display: flex;  
    height: 100%;
    width: 380px;
    align-items: end;
    justify-content: space-between;
    margin-right: 8px;
}

#proffesionel-tab {
    background-color: #3DCD58;
    height: 45px;
    width: 174px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0px 0px; 
    padding: 0px 5px 0px 5px;
    justify-content: center;   
    font-family: "roboto";
    color: white;
    
}

#privat-tab {
    background-color: #C7C7C7;  
    height: 45px;
    width: 174px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0px 0px; 
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    justify-content: center; 
    font-family: "roboto";
    color: white;
}

.lk-header {
    width: 100%;
    height: 60px;     
    
}

.lk-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:solid 2px rgba(211, 211, 211, 0.282);
    
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 900px;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

nav li {
    justify-content: space-between;
    font-family: "roboto";
    
}

#header-ikoner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;   
}

#header-ikoner img {
    max-height: 40px;
    margin-right: 8px;
}

.ikoner-row {
    display: flex;
    flex-direction: row;
}
/* her slutter header */

/* søg funktion start */
.dropdown-kontainer {
    display: none;
    position: absolute;
    top: 110px;
    right: 0;
    background-color: #C7C7C7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-kontainer input[type="text"] {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: white;
    font-family: "roboto";
}

.dropdown-kontainer input[type="text"]::placeholder {
    font-family: "roboto";
    color: white;
} 

.search-results{
    font-family: "roboto";
    color: white;
}
/* søg funktion slut */

/* burgermenu starter her */
#burger-ikon {
    width: 40px; 
    height: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: #3DCD58; 
    border-radius: 50%; 
    padding: 10px;
    box-sizing: border-box;
}

#burger-ikon div {
    width: 20px; 
    height: 3px; 
    background-color: white; 
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #3dcd59;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: "roboto";
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #0c9734;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-family: "roboto";
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* burgermenu slutter her */

/* HER STARTER INDEX STYLING */
/* her starter banner i top */
#white-blok {
    position: absolute;
    clip-path: ellipse(60% 60% at 50% 100%);
    bottom:0  ; 
}
#banner-top {
    position: relative;
    background-image: url(img/installation_el_to_mand-copy.png);
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* her slutter banner i top */

/* styling af telefon kontakt sektionen start */
.telefon-kontakt {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    
}

.telefon-section h2 {
    color: #3DCD58;
    margin-bottom: 30px;
}



.telefon-kontakt a {
    padding: 10px 30px 10px 30px;   
    background-color: #626469;
    font-family: "roboto";
    font-weight: 600;
    color: white;
    border-radius: 5px;        
}

.telefon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#ring-nu-knap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.telefon-kontakt-tekst {
    padding-right:15px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 99%;
    align-items: center;
}

.slideshow-medarbejder-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.billeder_medarbejder {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0px;
    height: 30px;
    margin-top: -15px;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 10px;
    transition: 0.6s ease;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: #41923Ecc;
}

.medarbejder_navn {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: "roboto";
}

/* Style medarbejder billeder */  
.billeder_medarbejder img {
    width: 100%;
    border-radius: 5px;
}

#ring-nu-knap a {
    background-color: #41B4E6;
    transition: 0.3s ease;
    cursor: pointer;  
}

#ring-nu-knap-1 a {
    background-color: #41B4E6;
    cursor: pointer;
    transition: 0.3s ease;
}

#ring-nu-knap-1:hover a {
    box-shadow: 5px 10px 15px #888888;
}

#ring-nu-knap:hover a {
    box-shadow: 5px 10px 15px #888888;
}
/* styling af telefon kontakt sektionen slut */



/* styling af kontaktformular sektionen start */
#kontakformular-section {
    background-color:#41923E;
    height: 500px;
    margin-top: 50px;
}

/* Kontaktformular start */ 
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #41923e ;
    height: auto;
    padding-bottom: 30px;  
    margin-top: 40px;        
}
  
.contact h2 {
    color: white;
    margin-top: 30px;
    margin-bottom: 18px;
}

.contact form {
    padding: 0 1rem 0 1rem; 
    text-align: center;
   
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: white;
    outline: none; 
    border-radius: 10px;    
    font-size: 14px;  
    color: black;
    margin: 12px 0;
    font-family: "roboto";
}

.field.error .item {
    border-color: red;
}


.field .error-txt {
    font-size: 14px;
    color: #ffa20c;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
    font-family: "roboto";
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: #41B4E6;    
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
    font-family: "roboto";
}

.friviilig form button:hover {
    box-shadow: none;
}
/* styling af kontaktformular sektionen slut */

/* styling af resterende-kontaktmuligheder sektionen start */
.kontaktmuligheder h3{
    color: #3DCD58;
    text-align: center;
    margin: 30px;
}

.kontaktmuligheder a {
    padding: 10px 30px 10px 30px;   
    background-color: #41B4E6;
    font-family: "roboto";
    font-weight: 600;
    color: white;
    border-radius: 5px;        
}

.b2b-chat-kasser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b2b-chat-kasser p {
    width: 200px;   
}

.kontaktmuligheder {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-items: center;
    margin: auto;
}

#kontaktmuligheder-knap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    position: relativ;
    transition: 0.3s ease;
}

#kontaktmuligheder-knap:hover a {
    box-shadow: 5px 10px 15px #888888;
}


.kontakt-icon-b2b {
    width: 50%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.kontakt-icon-salgsingenioer {
    width: 25%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.kontakt-icon-grossist {
    width: 40%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
/* styling af resterende-kontaktmuligheder sektionen slut */


/* footer start */
footer {
    position: relative;
}

.hvid-blok {
    position: absolute;
    clip-path: ellipse(60% 60% at 50% 2%);
    top: 0;
}

.footer-oversigt {
    background-color: #E7E6E6;   
}

.footer-oversigt h3 {
    font-size: 15px;
    font-weight: 500;
    font-family: "roboto";
    color: #41923E;
}

.footer-oversigt {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.footer-container {
    padding: 20px 0px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overste-footer-container {
    margin-top: 20px;
}

.tilmeld-footer-knap {
    background-color: #42B4E6; 
    color: white; 
    border: none; 
    padding: 8px 30px; 
    text-align: center; 
    font-size: 16px; 
    font-family: "roboto";
    font-weight: 600;
    margin: 7px 0px;    
    cursor: pointer; 
    border-radius: 6px; 
    transition: 0.3s ease;
}

.tilmeld-footer-knap:hover {
    box-shadow: 5px 10px 15px #888888;
}

.a-s-footer {
    font-weight: 500;
}

.tel-footer {
    text-decoration: underline;
    cursor: pointer;
}

.footer-telefon {
    display: none;
    background-color: #E7E6E6;
}

.footer-police {
    background-color: #3DCD58;
    padding: 10px 0px 10px 20px;
}

.underline-footer {
    text-decoration: underline;
}

.footer-police p {
    color: white;
}

.footer-police-kasse {
    padding: 3px;
}

#sm-ikoner {
    display: flex;
    flex-direction: row;
    height: 45px;
    background-color: #3DCD58;   
    justify-content: center;
    padding-bottom: 5px;
}

#sm-ikoner img {    
    padding-right: 5px;
    height: 40px;
}
/* footer slut */

/* HER SLUTER INDEX STYLING */


/* COMMUNITYSIDE STYLING STARTER HER! */
/* banner start  */
#banner-top-community {
    background-image: url(img/snak-mellem-tre-mennesker.webp);
    height: 225px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* banner slut */

/* her starter kodning til event card section */
#event-card-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
}

#even-card-outer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    width: 80%; 
}

.event-card {
    max-width: 300px;   
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #F7F7F7;
    box-shadow: 0px 5px 10px 5px rgba(183, 183, 183, 0.811);
    border-radius: 5px;
    margin-bottom: 30px; 
    justify-content: space-between;
    height: 600px;
}

#event-card-section h2 {
    color: #3DCD58;
}

.event-card h3 {
    font-size: 17px;
}


.event-card img {
    border-radius: 5px 5px 0px 0px ;
}   

.event-card h4 {
    color: #c6c0c0; 
    font-family: "roboto";
}

.event-card p {
    color: #888787; 
    font-weight: 400;
    margin-top: 15px;
    height: 190px;
}

#event-card-one {
    margin-top: 20px;
}

.beskrivende-tekst-event {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 250px;
    margin-top: 5px;
}

.button-event {
    padding: 10px 30px; 
    background-color: #41B4E6;
    border-radius: 5px;
    margin-top: 20px;   
    margin-bottom: 20px;
    color: white;
    font-family: "roboto";
    cursor: pointer;
    transition: 0.3s ease;
}

.button-event:hover {
    box-shadow: 5px 10px 15px #888888;
}

.green-buffer-event {
    width: 100%;
    height: 10px;       
    background-color: #3DCD58;
    border-radius: 0px 0px 5px 5px ;   
}
/* her starter kodning til event card section */



/* her starter styling af facebook section */
#facebook-section {
    background-color: #41923E;
    height: auto;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#fb-section-billede {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#fb-section-billede img {
   border-radius: 5px;
}

#fb-section-indhold {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

#fb-section-indhold h2 {
    color: white;
}

#fb-section-p {
    max-width: 260px;
}

#fb-section-p p {
    text-align: start;
    color: white;
}

#facebook-section-knap {
    padding: 10px 20px;
    background-color: #41B4E6;
    font-family: "roboto";
    color: white;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

#facebook-section-knap:hover {
    box-shadow: 5px 10px 15px #00000061;
}

/* her slutter styling af facebook section */


/* her starter styling af citat section */
#section-jens-rasmus {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}   

#kasse-citater { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80%;
    margin-top: 40px;
}

#section-jens-rasmus h2 {
    color: #3DCD58;
    margin-top: 20px;
    text-align: center;
}

#jens-citat {
    margin-bottom: 50px;
}
/* COMMUNITYSIDE STYLING SLUTTER HER! */


/* MEDIA QUERIES START FOR INDEX SIDEN */

/* her styles header og nav med media til mobil */
@media (max-width:800px) {

    #proffesionel-tab {
        height: 35px;
        width: 90px;
        font-size: 14px;
    }

    #privat-tab {
        height: 35px;
        width: 90px;
        font-size: 14px;
    }

    nav {
        display: none;
    }

    .tabs {
        width: 190px;
    }

    #schneider-logo-header {
        display: flex;
        height: 100%;
        align-items: center;
    }

    #profil-ikon {
        display: none;
    }

    #lk-logo-header {
        max-width: 120px;
    }

}

@media (min-width: 786px) {
    #banner-top {
        height: 450px;
    }
}
/* her slutter styling af header og nav med media til mobil */

/* her starter en media query som gør at burgermenuen ikke vises i stor skærm */
@media (min-width: 799px) {
    #burger-ikon {
        display: none; 
    }
}
/* her slutter styling af burgermenu */


/* medarbejder slideshow ved siden af tekstboks ved stoerre skaermer */
@media (min-width: 786px) {
    .telefon-kontakt {
        max-width: 50%;
        min-width: 45%;
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .slideshow-medarbejder-container {
        max-width: 70%;
        min-width: 50%;
 
    }
}

@media (min-width: 786px) {
    #ring-nu-knap {
        display:none
    }

    #ring-nu-knap-1 {
        display: flex;
        justify-content: center ;
    }
}

@media (max-width: 785px) {
    #ring-nu-knap-1 {
        display:none
    }
}

@media (min-width: 786px) {
    .telefon-section h2 {
        margin-top: -30px;
        z-index:1;
    }
    h2 {
        font-size: 40px;
    }
}
/* medarbejder slideshow styling slut */


/* styling af kontaktformular til pc start */
@media (min-width: 768px) {
    .contact form {
        width: 800px;   
    }

}
/* styling af kontaktformular til pc slut */

/* media queries kontaktmuligheder start */
@media (min-width: 786px) {
    .kontaktmuligheder {
        max-width: 80%;
        display:flex;
        flex-direction: row;
        align-items: stretch;
        gap:20px;
    }

    .kontaktmuligheder > div {
        flex: 1;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        justify-content: space-around;
    }
}
/* media queries kontaktmuligheder slut */

/* media queries footer start */
@media only screen and (min-width: 768px) {
    .hvid-blok {
        clip-path: ellipse(50% 12% at 50% 2%);  
    }
    .footer-oversigt {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20%;
        padding-right: 20%;
    }

    .footer-container{
        margin-left: 0px;
        align-items: flex-start;
    }

    #overste-footer-container {
        margin-top: 0px;
        
    }

    #footer-telefon-mobil{
        display: none;
    }

    .footer-telefon{
        display: flex;
        flex-direction: column;
        padding-left: 20%;
        padding-bottom: 10px;
    }

    .footer-police{
        display: flex;
        flex-direction: row;
        padding-left: 21.5%;
        padding-right: 21.5%;
        justify-content: space-between;
    }

    #sm-ikoner {
        justify-content: flex-end;
    }
}
/* media queries footer Slut */

/* MEDIA QUERIES SLUT FOR INDEX SIDEN */



/* MEDIA QUERIES START FOR COMMUNITY SIDEN */
@media (min-width:1184px) {
    #banner-top-community {
        height: 450px;
    }

    /* styling af event section MEDIA start */
    #event-card-section {
        flex-direction: column;
        
    }

    #even-card-outer-box {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; 
    }

    #event-card-one {
        display: flex;
        margin-top: 0px;      
    }

    #event-card-two {
        display: flex;
    }
    
    #event-card-three {
        display: flex;
    }
}
/* styling af event section MEDIA slut */
    
    
/* styling af facebook section MEDIA start */
@media (min-width: 768px) {
    #fb-section-indhold {
        max-width: 80%;
    }

    #fb-section-billede img {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px; 
        
    }

    #fb-section-p {
        max-width: 93%;
    }
    
}
/* styling af facebook section MEDIA slut */
    
    
/* styling af citat section MEDIA start */
@media (min-width:1045px) {
    #section-jens-rasmus {
        align-items: center;
    }

    #kasse-citater {
        flex-direction: row;
        max-width: 520px;
    }

    #jens-citat {
        padding-left: 10px;
        padding-right: 20px;
        margin-bottom: 0px;
    }

    #rasmus-citat {
        padding-left: 10px;
        padding-right: 20px;
    }
}
/* styling af citat section MEDIA slut */

/* MEDIA QUERIES SLUT FOR COMMUNITY SIDEN */




















